body {
	font-family: 'Roboto', sans-serif;
	max-width: 1020;
	background-color: #7E95D0;
	padding: 10px;
}

.almost-logo {
	float: left;
	width: 120px;
	border-radius: 5px;
	margin: 10px;
}

.header-info {
	margin-left: 10px;
}