body {
	font-family: 'Roboto', sans-serif;
	padding: 0;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header {
	width: 600px;
	border: 2px solid black;
	background-color: #BEE6E6;
	padding: 10px;
	margin: 0;
	display: block;
	text-align: left;
}

.almost-logo {
	float: left;
	width: 120px;
	border-radius: 5px;
}

.header-info {
	padding: 0;
	margin: 0;
	position: absolute;
	margin-left: 10px;
	left: 140px;
}