* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 10px;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  overflow: hidden;
  min-width: 80%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.wrapper__content {
  /* flex: 1; */
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  
}

.mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
