.breadcrumbs {
  margin-top: 1.7em;
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item::after {
  content: "/";
}

.breadcrumbs__item--active a {
  text-decoration: none;
  color: #221f1f;
}

.breadcrumbs__item--active::after {
  display: none;
}

.breadcrumbs__link {
  font-weight: 300;
  font-style: italic;
}