.features__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feature__item {
  color: $main-color;
  display: flex;
}

.feature__desc {
  padding-left: 1rem;
  width: 8.5rem;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  word-wrap: break-word;
}