footer {
  background: #4b73b5;
}

.footer__author {
  color: inherit;
  font-size: 14px;
  text-decoration: underline;
  opacity: .7;
  font-weight: bold;
}

.footer__container {
  height: 77px;
  position: relative;
}

.footer__container-author {
  position: absolute;
  top: 14px;
  left: 19px;
  color: white;
  text-decoration: none;
}

.footer__container-logo {
  max-width: 120px;
  margin: 0 auto;
  padding-top: 20px;
}

.footer__author-list {
  font-weight: 300;
}