$grey: #0f5a47;

.footer__container {
  display: flex;
  height: 9.3rem;
  background: gold;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  .contacts__phone {
    font-family: AlegreyaSans;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: $grey;
  }
}

