footer {
  background: #4b73b5;
  display: flex;
}

.footer__container {
  height: 77px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__author {
  color: inherit;
  font-size: 14px;
  text-decoration: underline;
  opacity: .7;
  font-weight: bold;
}

.footer__container-author {
  color: white;
  text-decoration: none;
}

.footer__container-logo {
  max-width: 120px;
  margin: 0;
  padding: 0;
}

.footer__author-list {
  font-weight: 300;
}