$light-blue: #61c4d9;
$text-main-color: #ffffff;

.order {
  background: $light-blue;
  height: 65rem;
  display: flex;
  flex-direction: column;

  h1 {
    font-family: AlegreyaSans;
    font-size: 6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
  }
}

