$light-blue: #61c4d9;
$main-color: #ffffff;

.header {
  display: flex;
  color: $main-color;
}

.header__container {
  background: $light-blue;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 2.4rem 8rem;
  
}

.logo__pic {
  width: 5.3rem;
}