header {
  background: #4b73b5;
}

.header__container {
  height: 77px;
  position: relative;
  margin-bottom: 13px;
}

.header__container .logo {
  position: absolute;
  top: 21px;
  left: 21px;
}

.header__bigpic {
  max-width: 1007px;
  object-fit: contain;
  margin-bottom: 16px;
}