$light-blue: #61c4d9;
$main-color: #ffffff;

.header {
  /* position: absolute; */
  width: 100%;
  padding-top: 0;
  z-index: 1;
  color: $main-color;
}

.header__container {
  background: $light-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 8rem;  
}

.logo__pic {
  width: 5.3rem;
}
