$text-main-color: #ffffff;

.nav {
	margin: 0 5rem;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__item {
	padding-right: 2rem;
	&:last-child {
		padding-right: 0;
	}
}

.nav__link {
	text-decoration: none;
	color: $text-main-color;
  font-size: 1.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
}