.nav__list {
  display: flex;
  flex-direction: column;
}

.nav__item {
  display: flex;
  align-items: center;
  color: #4b73b5;
  margin: 0px;
  padding: 0px 0px 1em;
}

.nav__link {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.nav__link_active {
  color: #221f1f;
}

.nav__link:hover {
  color: #221f1f;
  transition: 1s;
}

.nav__text {
  text-transform: uppercase;
}

.nav__item-icon {
  width: 30px;
  color: inherit;
}
