.nav {

}

.nav__list {
  display: flex;
  flex-direction: column;
  flex-direction: row;
}

.nav__item {
  display: flex;
  align-items: center;
  color: #4b73b5;
  padding-right: 9.5rem;
}

.nav__link {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.24rem;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.nav__link_active {
  color: #221f1f;
}

.nav__link:hover {
  color: #221f1f;
  transition: 1s;
}

.nav__text {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-left: 1.6rem;
}

.nav__item-icon {
  width: 3rem;
  color: inherit;
}
