.pagination {
  margin: 40px auto 60px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__display {
  color: #656464;
  margin-right: auto 20px;
}

.pagination__pager {
  display: flex;
  justify-content: space-between;
  min-width: 213px;
}

.pagination__list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.pagination__item {
  /* margin: auto 8px; */
}

.pagination__link {
  text-decoration: none;
  /* border: solid 1px #e8e9ed; */
  color: #221f1f;
  font-weight: bold;
}

.pagination__button-prev,
.pagination__button-next {
  /* border: solid 1px #e8e9ed; */
  color: #221f1f;
  text-decoration: none;
}

.pagination__link_active {
  background-color: #4b73b5;
  border-radius: 5px;
  padding: 5px;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-align: center;
}

.pagination__button_inactive {
  opacity: 0.3;
}