.partner {
  display: flex;
  flex-direction: column;
}

.partner__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}

.partner__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 33%;
  padding-bottom: 6.4rem;
}

.partner__pic-area {
  height: 6.4rem;
  width: 16rem;
}

.partner__pic {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.partner__pic:hover {
  filter: grayscale(0%);
}

.partner__pic--colored {
  filter: grayscale(0%);
}