.promo {
  background: $main-back;
  background-image: url('/img/back/back_screen_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

}

/*
.promo:after {
  content: '';
  width: 100%;
  height: 50%;
  background-image: url('/img/back/berries-1scr-bg.png');
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center center;
  position: absolute;
}
*/

.promo__container {
  display: flex;
  flex-direction: row;
}

.promo__content {
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
}

.promo__title {
  font-size: 6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
  color: $main-color;
}

.promo__subtitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $main-color;
  line-height: 1;
}

.promo__bars {
  margin-top: -3.4rem;
  margin-right: -6.3rem;
  height: 55.7rem;
}

.promo__features {
  padding: 4.3rem 0;
}

.btn {
  margin: 2.5rem 0;
  padding: 1.75rem 3.3rem;
  border-radius: 2.9rem;
  background-color: $main-color;
  border: none;
  color: $box-shadow;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.9rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  box-shadow: 0 0 4rem rgba(0, 0, 1, 0.22);
}

