.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.questions {
  background-image: url(../../);
  background: green;
}

.questions p {
  margin: 0;
  padding: 4.5rem 20%;
  color: white;
  line-height: 1.67;
  font-size: 1.8rem;
  font-weight: 300;
}

.questions__request {
  color: white;
  font-weight: bold;
}
