.questions {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.questions__info {
  background: #4bb56b;
}

.questions__info p {
  margin: 0;
  padding: 4.5rem 23rem;
  color: white;
  line-height: 1.67;
  font-size: 1.8rem;
  font-weight: 300;
}

.questions__send-request {
  color: white;
  font-weight: bold;
}
.questions__send-review {
  width: 64%;
  background-color: #f5f5f5;
  border: black;
  padding: 5% 6%;
  margin: 5% auto;
}

.questions__send-review h3 {
  text-align: left;
  
}

.questions__send-review-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.questions__namevk {
  display: flex;
  flex-flow: row wrap;
}

.questions__name,
.questions__vk {
  width: 40%;
  flex: 1;
}

.questions__comment {
  flex-basis: 100%;
  width: 100%;
}

.questions__send-button {

}

