

.questions {
  background-image: url(/img/green-back.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  width: 100%;
}

.questions article {
  margin: 0 auto;
  padding: 4.5rem 1rem;
  color: white;
  line-height: 1.67;
  font-size: 1.8rem;
  font-weight: 300;
}

.questions__request {
  color: white;
  font-weight: bold;
}
