.review {
  display: flex;
  flex-direction: column;
}

.review__list {
  display: flex;
  flex-direction: column;
}

.review__item {
  display: flex;
}

.review__desc {
  display: flex;
  flex-direction: column;
}

.review__pic-area {
  position: relative;
  /* overflow: hidden; */
  border-radius: 50%;
  margin-right: 10px;
}

.review__pic {
  object-fit: cover;
  width: 160px;
  height: 160px;
}