.reviews {
  /*
  position: relative;
  */
  background: 
    url(/img/reviews/berrie-reviews-bg.png) 92% 0%, 
    url(/img/reviews/reviews-bg.png) 0% 122%,
    grey;
  background-repeat: no-repeat;  
  display: flex;
  flex-direction: column;
}

.reviews__title {
  font-size: 4.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0d0d0d;
}

.review__list {
  margin-bottom: 1.25rem;
}



.review__item {
  /* position: relative; */
  background-color: #f8faf9;
  padding-top: 5.5%;
  padding-bottom: 4%;
  padding-left: 5%;
  background-image: url(/img/reviews/reviews-item-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.review__article {
  display: flex;
}

.review__box-avatar {
  max-width: 25rem;
  height: 25rem;
  margin-right: 1.25rem;
  overflow: hidden;
}

.review__avatar {
  min-width: 100%;
  object-fit: none;
}

.review__desc {
  padding-top: 0.6875rem;
  max-width: 90rem;
  h4 {
    font-size: 3rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
  }
  p {
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
    margin-bottom: 1.3125rem;
    width: 80%;
  }
  .review__username {
    font-size: 1.8rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
  }
}


.review__carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.75rem;
}

.review__carrousel-item {
  margin-right: 0.75rem;
  width: 4.1875rem;
  height: 4.1875rem;
  box-sizing: content-box;
  display: flex;
}

.review__avatar--mini {
  width: 4.1875rem;
  height: 4.1875rem;
  border-radius: 50%;
  object-fit: none;
}

.review__carrousel-item--current,
.review__carrousel-item:hover {
  border-radius: 50%;
  border: solid 6px #0f5a47;
  margin-right: 0.375rem;
}

.review__carrousel-item:nth-child(2) .review__avatar--mini {
  object-position: -6.5625rem -2.5625rem;
}

.review__carrousel-item:nth-child(3) .review__avatar--mini {
  object-position: -5.1875rem -0.6875rem;
}