.socialnetworks {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialnetworks__text {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  padding-bottom: 0.9rem;
}

.socialnetworks__list {
  display: flex;
  justify-content: space-between;
  width: 13rem;
}

.socialnetworks__item {
  vertical-align: middle;
}

.socialnetworks__icon {
  background-color:#ffffff;
  border-radius: 3rem;
  text-align: center;
  color: #4b73b5;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.socialnetworks__icon_active {
  background-color:#ffffff;
}

.socialnetworks__icon:hover {
  background-color:#ffffff;
  transition: 1s;
}
